:root {
    /* colors */
    --cyan:  hsl(176, 68%, 64%);
    --main-bg: hsl(218, 28%, 13%);
    --dark-blue: hsl(217, 28%, 15%);
    --white: hsl(0, 0%, 100%);

    /* fonts */
    --font-body: 'Open Sans', sans-serif;
    --font-headings: 'Raleway', sans-serif;
    --font-weight-headings: 700;
    --main-text-size: 1.6rem;
    --main-text-line-height: 1.8;
}

* { box-sizing: border-box; }

html {
    background-color: var(--main-bg);
    font-size: 10px;
}

body {
    color: var(--white);
    font-family: var(--font-body);
    font-size: var(--main-text-size);
    line-height: var(--main-text-line-height);
}

/* utilities */

.img-responsive {
    height: auto;
    max-width: 100%;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

.hidden {
    display: none;
}

.container { 
    margin: 0 auto;
    max-width: 1220px; 
}

/* end utilities */

.header {
    align-items: center;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-around;
    max-width: 100%
}

.header__logo { 
    max-width: 140px; 
}

.header__nav {
    align-items: center;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.header__nav__item {
    font-size: var(--main-text-size);
    padding: 0 10px;
}

a.header__nav__item__link:link,
a.header__nav__item__link:visited {
    color: #fff;
    text-decoration: none;
}

a.header__nav__item__link:hover,
a.header__nav__item__link:active {
    color: #fff;
    text-decoration: underline;
}

.intro {
    background-color: var(--dark-blue);
    background-image: url('./images/bg-curvy-mobile.svg');
    background-position: center 270px;
    background-repeat: no-repeat;
    background-size: 150%;
    text-align: center;
}

.intro__upper {
    padding: 5%;
}

.intro__lower {
    background-color: var(--main-bg);
}

.intro__illustration {
    max-width: 730px;
    width: 100%;
}

.intro__heading {
    font-family: var(--font-headings);
    font-size: 2.2rem;
    font-weight: var(--font-weight-headings);
    margin-top: 0;
    text-align: center;
}

.button {
    background: hsl(198, 60%, 50%);
    background: linear-gradient(90deg, hsla(176, 68%, 64%, 1), hsla(198, 60%, 50%, 1) 100%); 
    border-radius: 50px;
    display: block;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}

.button:hover,
.button:active {
    background: var(--cyan);
}

.intro__paragraph {
    margin: 0;
    padding: 0;
}

.features {
    padding: 5%;
}

.features__box {
    text-align: center;
}

.features__box__image {
    margin: 70px auto 35px auto;
}

.features__box__heading {
    margin-top: 0;
}

.productive {
    text-align: center; 
    padding: 5%;
}

.productive__paragraph {
    text-align: left;
}

a.productive__link:link,
a.productive__link:visited {
    background-image: url('images/icon-arrow.svg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 25px;
    border-bottom: 1px solid var(--cyan);
    color: var(--cyan);
    padding: 0 35px 10px 0;
    text-decoration: none;
}

a.productive__link:hover,
a.productive__link:active {
    background-image: url('images/icon-arrow.svg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 25px;
    border-bottom: 1px solid var(--white);
    color: var(--white);
    padding: 0 35px 10px 0;
    text-decoration: none;
}

.quotes {
    margin: 5%;
    padding-bottom: 100px;
}

.quotes__inner { 
    background-image: url('images/bg-quotes.png');
    background-position: 10px top;
    background-repeat: no-repeat;
    padding-top: 35px;
}

.quote { 
    background-color: hsl(219, 30%, 18%);
    border-radius: 5px;
    padding: 40px 20px 20px 20px;
    margin-bottom: 40px;
}

.quote__text {    
    font-size: var(--main-text-size);
    line-height: var(--main-text-line-height);
}

.quote__attribution {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.quote__attribution__image {
    border-radius: 50%;
    width: 50px;
}

.quote__attribution__author {
    font-size: 1.4rem;
    margin-left: 10px;
    letter-spacing: 1px;
    line-height: 1.8;
}

.quote__attribution__author__title {
    font-size: 1.8rem;
    font-weight: 700;
}

.earlyaccess {
    background-color: var(--dark-blue);
    border-radius: 10px;
    margin: -300px 2% 0 2%;
    padding: 35px 55px;
    text-align: center;
}

.earlyaccess__email {
    border-radius: 50px;
    border: none;
    font-size: 1.6rem;
    padding: 15px 20px;
    width: 100%;
}

.earlyaccess__button {
    border: none;
    width: 100%;
}

.earlyaccess__button:hover {
    cursor: pointer;
}

.earlyaccess__email::placeholder {
    color: #ccc;
}

.signup__form__warning { 
    color: hsl(0, 100%, 63%);
    padding-left: 20px;
    text-align: left;
}

.footer {
    background-color: hsl(216, 53%, 9%);
    padding-top: 200px;
    text-align: left;
}

.footer__list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

a.footer__list__link:link,
a.footer__list__link:visited {
    color: var(--white);
    text-decoration: none;
}
a.footer__list__link:hover,
a.footer__list__link:active {
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
}

.footer__social {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.footer__social__item {
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 10px;
    padding: 7px 0 0 9px;
    height: 40px;
    width: 40px;
    position: relative;
}


.footer__social__item:hover {
    border: 1px solid var(--cyan);
    color: var(--cyan);
    cursor: pointer;
}

.footer__social__item > svg { max-width: 20px; }

.footer__social__item--facebook {
    padding-left: 10px;
}

.footer__social__item--twitter {
    padding-top: 10px;
}

.footer__social__item--facebook > svg { max-width: 15px; }

.attribution { font-size: 11px; text-align: center; color: #fff; margin:0; padding: 25px 0;}
.attribution a { color: hsl(228, 45%, 44%); color: #fff; }