:root {
    /* colors */
    --cyan:  hsl(176, 68%, 64%);
    --main-bg: hsl(218, 28%, 13%);
    --dark-blue: hsl(217, 28%, 15%);
    --white: hsl(0, 0%, 100%);

    /* fonts */
    --font-body: 'Open Sans', sans-serif;
    --font-headings: 'Raleway', sans-serif;
    --font-weight-headings: 700;
    --main-text-size: 1.6rem;
    --main-text-line-height: 1.8;
}

* { box-sizing: border-box; }

html {
    background-color: var(--main-bg);
    font-size: 10px;
}

body {
    color: var(--white);
    font-family: var(--font-body);
    font-size: var(--main-text-size);
    line-height: var(--main-text-line-height);
}

.img-responsive {
    height: auto;
    max-width: 100%;
}

.header {
    align-items: center;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-around;
    max-width: 100%
}

.header__logo { 
    max-width: 140px; 
}

.header__nav {
    align-items: center;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.header__nav__item {
    font-size: var(--main-text-size);
    padding: 0 10px;
}

.intro {
    background-color: var(--dark-blue);
    background-image: url('./images/bg-curvy-mobile.svg');
    background-position: center 270px;
    background-repeat: no-repeat;
    background-size: 150%;
    text-align: center;
}

.intro__upper {
    padding: 5%;
}

.intro__lower {
    background-color: var(--main-bg);
}

.intro__illustration {
    width: 100%;
}

.intro__heading {
    font-family: var(--font-headings);
    font-size: 2.2rem;
    font-weight: var(--font-weight-headings);
    margin-top: 0;
    text-align: center;
}

.button {
    background-color: hsl(176, 68%, 64%);
    border-radius: 50px;
    display: block;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 25px;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
}

.intro__paragraph {
    margin: 0;
    padding: 0;
}

.features {
    padding: 5%;
}

.features__box {
    text-align: center;
}

.features__box__image {
    margin: 70px auto 35px auto;
}

.features__box__heading {
    margin-top: 0;
}

.productive {
    text-align: center; 
    padding: 5%;
}

.productive__paragraph {
    text-align: left;
}

.productive__link {
    background-image: url('images/icon-arrow.svg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 25px;
    border-bottom: 1px solid var(--cyan);
    color: var(--cyan);
    padding: 0 35px 10px 0;
    text-decoration: none;
}


.quotes {
    margin: 5%;
}

.quotes__inner { 
    background-image: url('images/bg-quotes.png');
    background-position: 10px top;
    background-repeat: no-repeat;
    padding-top: 35px;
}

.quote { 
    background-color: hsl(219, 30%, 18%);
    border-radius: 5px;
    padding: 40px 20px 20px 20px;
    margin-bottom: 40px;
}

.quote__text {    
    font-size: var(--main-text-size);
    line-height: var(--main-text-line-height);
}

.quote__attribution {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.quote__attribution__image {
    border-radius: 50%;
    width: 50px;
}

.quote__attribution__author {
    font-size: 1.4rem;
    margin-left: 10px;
    letter-spacing: 1px;
    line-height: 1.8;
}

.quote__attribution__author__title {
    font-size: 1.8rem;
    font-weight: 700;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }